html,
body {
  height: 100%;
  background: linear-gradient(
    87deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(108, 9, 121, 1) 20%,
    rgba(193, 20, 20, 1) 91%
  );
  font-family: "Roboto Slab", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
  color: white;
  align-items: center;
  padding: 12px 10%;
}

footer {
  padding: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: rgb(40, 40, 40);
}
nav h2:hover {
  cursor: pointer;
}

nav h2 a {
  font-size: 20px;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: dodgerblue;
}

.fa-envelope {
  color: white;
}

.btn-toggle-nav {
  visibility: hidden;
}

.nav-items {
  list-style: none;
}

.nav-items li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-items li a:hover {
  font-size: 20px;
}

.full-height {
  height: 100%;
  border: 1px solid black;
}

.centerH {
  margin-top: 60px;
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.centerH h1 {
  text-shadow: 2px 2px black;
  font-size: 50px;
}

.centerH h3 {
  text-shadow: 2px 2px black;
  margin-top: 10px;
}

.header-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.header-button:hover {
  border: 1px #008cba;
  background-color: white;
  color: #008cba;
}

/* section {
  height: 200px;
  width: 100%;
} */

.about-sec {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

.about {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 20px;
}

.project-sec {
  background: linear-gradient(
    87deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(108, 9, 121, 1) 20%,
    rgba(193, 20, 20, 1) 91%
  );
}

.project-gallery {
  margin: auto;
  width: 70%;
  margin-bottom: 200px;
}

.project-box {
  height: 300px;
  background-color: white;
  margin-top: 40px;
  display: flex;
}

.project-details {
  width: 60%;
}

.project-details h3 {
  margin: 10px;
}

.project-details p {
  margin: 5px;
}

.project-view {
  width: 40%;
  border: turquoise 1px solid;
  background-color: tomato;
}
.project-sec h2 {
  text-shadow: 2px 2px black;
  margin-top: 80px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.tools {
  margin: 5px;
  display: flex;
}

.code-tool {
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10%;
}

.resume-sec {
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.resume {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  font-size: 20px;
}

.resume h2 {
  font-size: 50px;
  margin-bottom: 40px;
  text-shadow: 2px 2px gray;
}

.resume button {
  background-color: #008cba;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 180px;
  box-shadow: 2px 2px gray;
}

.resume button:hover {
  border: 1px solid #008cba;
  background-color: white;
  color: #008cba;
}

.contact-sec h2 {
  color: white;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.contact-sec {
  width: 100%;
}

.contact-links {
  font-size: 20px;
  color: white;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.contact-icons i {
  margin: 5px;
}
.contact-form {
  padding: 30px;
  background-color: rgb(40, 40, 40);
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

.contact-form textarea {
  font-size: 20px;
  width: 40%;
  margin: 15px;
}

.input-row {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.input-row input {
  font-size: 20px;
  height: 50px;
  margin: 10px;
}

.submit {
  margin-top: 30px;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
}

.submit button {
  background-color: #008cba;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 180px;
  box-shadow: 2px 2px black;
}

.submit button:hover {
  border: 1px #008cba;
  background-color: white;
  color: #008cba;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-items li {
    display: none;
  }

  .nav-items.active li {
    display: block;
    margin: 20px;
  }

  .btn-toggle-nav {
    cursor: pointer;
    position: absolute;
    right: 10px;
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }

  .project-view {
    width: 100%;
    height: 300px;
  }

  .project-box {
    height: 100%;
    flex-direction: column-reverse;
  }
}
